
.main {
    display: inline-block;
    width: 83%;
    height: auto;
    /* border:1px solid blue; */
    margin-bottom: 5%;
}

h1 {
    text-align: center;
    color: #234465;
    text-decoration: underline;
    /* margin-bottom: 2%; */
}


.main-posts-container {
    width: 100%;
    height: auto;
    border: 1px solid #234465;
    margin-bottom: 3%;
    border-radius: 4px;
}

.description {
    word-wrap: break-word;
    padding: 0.5%;
    font-style: italic;
    /* border:1px solid blue; */
    margin-bottom: 0.5%;
    width: 95%;
    display: inline-block;
    vertical-align: top;
    ;
}

.main-posts-container div {
    /* border:1px solid red; */
    height: auto;
    text-align: right;
    margin-bottom: 0.5%;
}

.main-posts-container div span {
    text-decoration: underline;
    text-align: right;
    /* border:1px solid green; */
    padding-right: 1%;
}

.main-posts-container img {
    width: 32px;
    height: 32px;
}

